target
out
bin
dist
node_modules
yarn-error.log
.DS_Store
*.exe
*.sublime-workspace
*.pdb
*.raddbgi
*.dll
*.exp
*.obj
*.lib
log.txt
*.bin
*.dylib
*.so
*.dSYM
linux
out/
*.log
*.code-workspace
.env
id_rsa
token.json

# advent of code real input
input-real.*
real.*
